body {
    position: absolute;
    display: table;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    text-align: center;
    margin: auto;
    width: 40%;
    background-color: #7a86cb;
}

h1 {
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 100;
    color: #6849e3;
    letter-spacing: 0.05em;
    display: inline-block;
    transition: .2s;
}

/* ----------- top and bottom borders --------------- */

h1::before, h1::after {
    display: block;
    content: '';
    border-top: solid 3px #6849e3;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

/* ------------- hover ----------------------- */

h1:hover {
    color: white;
    letter-spacing: 0;
    cursor: pointer;
}

h1:hover::before, h1:hover::after {
    content: '';
    transform: scaleX(1);
}

h1:hover::before {
    transform-origin:  100% 50%;
}

h1:hover::after {
    transform-origin:  0% 50%;
}