/* reset default html styling for buttons*/
  button:active {
    outline: none;
    border: none;
  }
  
  button:focus {
    outline: 0;
  }

  /* ---------------------------------- */

body {
    position: absolute;
    display: table;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    background: rgb(101, 113, 181);
    text-align: center;
    margin: auto;
    width: 40%;
    border-spacing: 30px;
}


.clickables {
    display: table-cell;
    position: relative;
    height: 66px;
    width: 25%;
    margin: 0 10px;
    border: 3px solid #41486D;
    border-radius: 33px;
    font-family: 'Barlow';
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: 4px 0px 5px #272e50;
    color: #E6E7F2;
    letter-spacing: 0.1em;
    background: linear-gradient(#7480C2,#616BA2);
    /* box-shadow: 10px 10px 10px#616BA2; */
    box-shadow: inset 0px 0px 0px 3px #616BA2;
    transition: .4s;
}

/* ------------- hover ---------------- */

.clickables:hover {
    border: 3px solid #5a6497;
    background: linear-gradient(#616BA2, #7480C2);
    box-shadow: inset 0px 0px 0px 3px #E6E7F217;
}
/* ------------- focus ---------------- */

.clickables:focus {
    border: 3px solid #6849E3;
    color: #6849E3;
    background: #383E5E;
}


.clickables:focus:after {
    content: "ed!";
}

