/* remove default css */
input {
    outline: none;
}

body {
    position: absolute;
    display: table;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    background: #7a86cb;
}

div {
    position: relative;
}

input {
    position: absolute;
    height: 20px;
    width: 100%;
    padding: 15px 10px;
    background: #49517B;
    border: 2px solid #24283D;
    border-radius: 5px;
    font-size: 16px;
}


label {
    position: absolute;
    font-family: 'Barlow', sans-serif;
    top: 15px;
    left: 10px;
}

label, input {
    transition: .4s;
    color: #E6E7F2;
  }

input:focus {
    background: transparent;
    border-color: #0027FF;
    color: #383E5E;
}

input:focus + label, input:valid + label {
    top: -10px;
    padding: 0 5px;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}

input:focus + label {
    color: #0027FF;
    background: #7a86cb;
}

input:valid + label {
    background: #7a86cb;
    color: #383E5E;
  }
  
  input:valid {
    background: transparent;
    border-color: #383E5E;
  }